# 📦 Dependências
node_modules/

# ⚙️ Expo
.expo/
dist/
web-build/
expo-env.d.ts

# 📱 Android (somente arquivos gerados, não o código-fonte)
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/

# 🔒 Arquivos sensíveis e certificados
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.orig.*

# 🛠️ Metro bundler
.metro-health-check*

# 🧪 Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# 💻 macOS
.DS_Store

# 🔐 Variáveis de ambiente locais
.env
.env.*.local

# 🧾 TypeScript
*.tsbuildinfo

# 🔄 Logs e histórico do Git
*.log